body {
  font-family: 'Open Sans';
  background-image: url('../public/bg.jpg');
  background-repeat: repeat;
  overflow: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
}

/* Add a black background color to the top navigation */
.topnav {
  position:fixed;
  width:100%;
  top: 0;
  left:0;
  z-index: 1;
  background-color: #333;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 5px 0px 5px 0px;
  gap: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #DDD;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border: rgba(255, 255, 255, 0) solid 2px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #444;
  border-radius: 8px;
  color: #fff;
}

/* Add a color to the active/current link */
.topnav .focused {
  color: #fff;
  background-color: #333;
  border-bottom: 3px solid white;
  border-radius: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 5px;
  z-index: 2;
}

.centerbox {
  padding: 20px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Document {
  width: '100%';
}

.centeredPage {
  width: 90%;
  outline: none;
  padding: 2% 10% 5% 10%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.bolded { font-weight: bold; }

h1 {
  display: flex;
  justify-content: center;
  color: #333;
}

.contactdetails {
  line-height: 20%;
}

/* Set the initial opacity of the element to 0 */
.fade-in-element {
  opacity: 0;
}

/* Apply the fade-in animation to the element */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#ExpandableDiv, button {
  background-color: #880088;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}
/* Add the animation to the element and set the duration */
.fade-in-element {
  animation: fadeIn 0.5s ease-in-out forwards;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  padding: 0px 0px 25px 0px;
}
#grid > div {
  font-size: 16px;
  padding: 1em 1em 25px 1em;
  color: #ffffff;
  background: #333;
  text-align: center;
  position:relative;
}

#grid button {
  position: absolute;
  background-color: #880088;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin-left:-100px;
  left:50%;
  width:200px;
  height:50px;
  bottom:-25px;
  z-index: 1;
}